DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=tu-app.onrender.com
CSRF_TRUSTED_ORIGINS=https://tu-app.onrender.com
DATABASE_URL=postgresql://postgres.PROJECTREF:PASSWORD@aws-REGION.pooler.supabase.com:5432/postgres
PYTHON_VERSION=3.13.12
LOG_LEVEL=INFO
